/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Colors*/
    --primary-color: #032026;
    --secondary-color: #16697A;
    --accent1-color: #C3510A;
    --accent2-color: #82C0CC;

    /* Fonts */
    --heading-font: "Acme", sans-serif;
    --paragraph-font: "Roboto", sans-serif;

    /* Styles */
    --headline-color-on-white: var(--accent1-color);
    --headline-color-on-color: #ffffff;
    --paragraph-color-on-white: var(--primary-color);
    --paragraph-color-on-color: #ffffff;
    --paragraph-background-color: var(--accent1-color);

    --nav-link-color: var(--accent1-color);
    --nav-background-color: #ffffff;
    --nav-hover-link-color: ;
    --nav-hover-background-color: var(--accent1-color);
    --header-background-color: var(--secondary-color);
    

    --accent3-color: #82C0CC30;
    --background-color: #82C0CC10;
    
    --text-align: center;
    --text-color: var(--primary-color);
    --text-font: "Roboto", sans-serif;
}


/*  Updated from original provided for site plan */

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h2 {
    text-align: center;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--primary-color);
}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}

.center {
    margin: auto;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
    font: var(--paragraph-font);
}

.colors th {
    background-color: var(--accent3-color);
}

.colors td {
    width: 25%;
    height: 3em;
}

.r1 {
    background-color: var(--primary-color);
    color: #ffffff;
}

.r2 {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.r3 {
    background-color: var(--accent1-color);
    color: #ffffff;
}

.r4 {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    font: var(--pargraph-font);
}

nav {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sitemap {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
        ". . . top . ."
        ". left left right right ."
        "page2 page2 . . page3 page3";
}

.sitemap>div {
    text-align: center;
}

.sm-home {
    grid-area: home;
    background-color: var(--accent3-color);
    line-height: 3em;
}

.sm-page2 {
    grid-area: page2;
    background-color: var(--accent3-color);
    line-height: 3em;
}

.sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
}

.top {
    grid-area: top;
    border-left: 1px solid;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}

footer {
    padding: 1em;
    margin: 1em;
    text-align: center;
    
    padding: 0.5em;
    
}

/*footer with socials*/
footer {
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 0.5em;
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
}


.footer-p {
    color: var(--headline-color-on-color);
}

a {
    color: var(--accent1-color);
}

ul {
    font: var(--pargraph-font);
    list-style-type: circle;
    list-style-position: inside;
    align-items: center;
}

.button {
    text-decoration: none;
}