/*universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fonts complete*/

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

/*HEADER*/
/*Navigation*/
nav {
    background-color: #0000;
    padding: 10px;
    max-width: static;
}

nav a {
    color: #16697A;
    display: block;
    padding: 20px;
    font-family: "Acme", sans-serif;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 20px 30px;
    margin: 20px;
    background-color: #82C0CC50;
    text-decoration: none;
}

li a:hover {
    background-color: #82C0CC;
}

/*MAIN*/
/*headers*/
h1 {
    font-family: "Acme", sans-serif;
    color: #16697A;
    font-size: 60px;
    padding: 10px 0 10px 10px;
    text-align: center;
    margin: 1rem;
}

h2 {
    font-family: "Acme", sans-serif;
    color: #16697A;
    font-size: 40px;
    text-align: left;
    margin: 1rem;
}

h3 {
    font-family: "Acme", sans-serif;
    color: #16697A;
    font-size: 20px;

}

p {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: justify;
    width: 1000px;
    margin: auto;
    padding: 15px;
}

/*divs and sections*/
div {
    display: block;
    width: 100%;
    height: auto;
    background-color: #0000;
    padding: 0 0 10px 0;
}

.hero {
    display: block;
    width: 100%;
    height: auto;
    background-color: #82C0CC20;
    border: 2px #16697A50;
    padding: 0 0 10px 0;
    position: absolute;
}

.hero-image {
    opacity: 1;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

article {
    display: block;
    width: auto;
    height: auto;
    background-color: #82C0CC20;
}

/*footer*/
footer {
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: left;
    font-family: "Acme", sans-serif;
    font-style: normal;
    margin: 1rem;
}

footer img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid white;
    max-width: 40px;
    height: auto;
    opacity: 0.8;
    position: relative;
    padding: 10px;
}