/*universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fonts complete*/

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

/*HEADER*/
/*Navigation*/
nav {
    background-color: #0000;
    padding: 10px;
    max-width: auto;
}

nav a {
    color: #16697A;
    display: block;
    padding: 20px;
    font-family: "Acme", sans-serif;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 20px 30px;
    margin: 20px;
    background-color: #82C0CC50;
    text-decoration: none;
}

li a:hover {
    background-color: #82C0CC;
}

/*MAIN*/
/*headers*/
h1 {
    font-family: "Acme", sans-serif;
    color: #16697A;
    font-size: 60px;
    padding: 10px 0 10px 10px;
    text-align: center;
    margin: 1rem;
}

h2 {
    font-family: "Acme", sans-serif;
    color: #16697A;
    font-size: 40px;
    text-align: left;
    margin: 1rem;
}

h3 {
    font-family: "Acme", sans-serif;
    color: #16697A;
    font-size: 20px;

}

p {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: justify;
    width: 1000px;
    margin: auto;
    padding: 15px;
}

/*divs and sections*/
div {
    display: block;
    width: 100%;
    height: auto;
    background-color: #0000;
    padding: 0 0 10px 0;
}

.hero {
    display: block;
    width: 100%;
    height: auto;
    background-color: #82C0CC20;
    border: 2px #16697A50;
    padding: 0 0 10px 0;
}

.hero-image {
    /*incomplete - remove side gap*/
    background-image: linear-gradient(rgba(201, 230, 244, 0.5), rgba(235, 250, 252, 0.5)), url("rafting16_1024.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

article {
    display: block;
    width: auto;
    height: auto;
    background-color: #82C0CC20;
}

/*footer*/
footer {
    position: bottom;
    bottom: 0;
    margin: 1rem;
    font-family: "Acme", sans-serif;
    font-style: normal;
    border: 1px solid #0000;
    padding: 10px;
    background-color: #0000;
    clear: both;
    text-decoration: none;
}

footer img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid white;
    max-width: 40px;
    height: auto;
}







/*UNUSED CODE IN HTML*/

/*callout class in main for div styling */
.callout {
    max-width: auto;
    height: 200px;
    margin: 0 0 5px 0;
    border: 1px solid #82C0CC;
    padding: 1rem;
    background-color: #82C0CC20;
    color: #ffffff;
}

/* image style in box on right */
.callout img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 4px solid white;
    max-width: 180px;
    height: auto;
}

/*image*/
img {
    float: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 20px;
    right: 20px;
}

img .left {
    float: left;
    width: 150px;
    height: auto;
    border: 1px solid #82C0CC;
    padding: 2px;
    box-shadow: 1px #82C0CC50
}

img .right {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid #82C0CC;
    padding: 2px;
    box-shadow: 1px #82C0CC50;
}

/*list box in main*/
.ul .box {
    background-color: #C3510A20;
    border-color: #C3510A;
}

.box img {
    background-color: #82C0CC20;
    border-color: #82C0CC;

    padding: 0px;
    margin: 0 0 10px 10px;
    position: relative;
}

/* block of the quotation*/
blockquote {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    float: left;
    margin: 0 0 1rem 1rem;
    width: 800px;
    text-align: justify;

}

/* citation text */
cite {
    display: block;
    padding-top: 0;
    text-align: right;
    font-size: smaller;
    position: absolute;
}