/*root to link all headings*/
:root {
    --primary-color: #16697A;
    --secondary-color: #82C0CC;
    --accent1-color: #C3510A;
    --accent2-color: #271712;

    --heading-font: "Acme", sans-serif;
    --paragraph-font: "Roboto", sans-serif;

    --navigation-background-color: #ffffff;
    --heading-text-color: #16697A;
    --heading-color: #C3510A;
    --heading-alignment: center;
    --padding: 1rem #ffffff;
    --padding-left: 5px;
    --margin-left: 0px;
    --border: 1px solid #C3510A;
    --section-background-color: #C3510A20;
    --background-color: #82C0CC30;
    --text-align: center;
    --text-color: #271712;
    --text-font: "Roboto", sans-serif;
}

/*universal*/
* {
    margin: var(--margin-left);
    padding: var(--padding-left);
    box-sizing: border-box;
    font-family: var(--text-font);
}

a {
    text-decoration: none;
}

header,
main {
    max-width: 1100px;
    margin: 0 auto;
}

body {
    font-family: var(--paragraph-font);
}


/*HEADER*/
/*Navigation*/
header {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    align-items: center;
    margin: 1rem auto;
    border-bottom: solid 1px var(--accent1-color);
    max-width: 1200px;
}

nav {
    background-color: var(--navigation-background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #271712;
    font-family: var(--paragraph-font);
    font-weight: 700;
    display: block;
    padding: 10px 10px;
    margin: 0px;
    background-color: #82C0CC20;
    text-decoration: none;

}

nav a:hover {
    background-color: #82C0CC;
    font-weight: 700;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.navigation li {
    flex: 1 1 auto;
}

.placement1 {
    grid-column: 1;

}

.placement2 {
    grid-column: 2/4;
}

.placement2 {
    grid-column: 2/4;
}

/*MAIN*/
/*headers*/
h1 {
    font-family: var(--heading-font);
    color: var(--heading-text-color);
    font-size: 60px;
    padding: var(--padding);
    text-align: var(--heading-alignment);
    margin: var(--margin-left);
}

h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    font-size: 40px;
    text-align: var(--heading-alignment);
    margin: 1rem;
    padding: var(--padding);
}

h3 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    font-size: 20px;
}

h4,
h5,
h6 {
    font-family: var(--heading-font);
}

/* */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero article img {
    float: right;
    margin: 10px;
    border: 4px solid white;
    width: 350px;
    height: auto;
}

.hero article {
    position: absolute;
    top: 150px;
    left: 50px;
    right: 50px;
    padding: var(--padding);
    font-family: var(--text-font);
    font-style: normal;
    background-color: #ffffff56;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #ffffff56;
}

.hero article p {
    color: var(--primary-color);
    font-size: 1rem;
    text-align: justify;
    font-weight: 700;
}

.section {
    position: absolute;
    background-color: var(--section-background-color);
    font-family: var(--text-font);
    font-style: normal;
}

.section history {
    position: absolute;
    background-color: var(--section-background-color);
    font-family: var(--text-font);
    font-style: normal;
}

figure {
    font-family: var(--text-font);
    font-style: normal;
    color: #C3510A;
}

/*footer*/
footer {
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    margin: 4em 0;
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
}

.social {
    grid-column: 3;
    align-self: self-end;
}

.social img {
    width: 3em;
}
iframe { 
    width: 400px;
    height: 300px;
}
.map {
    border: 0;
    font-weight: 700;
}

.employees {
    width: 100%;
    background-color: var(--section-background-color);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-weight: 700;
}
.employees img {
    width: 16em;
    height: 21em;
}

