/*USE AMERICAN SPELLINGS*/
:root {
  --heading-background-color: #226aa6;
  --heading-text-color: #f3f4f7;
  --heading-font: "Montserrat", Helvetica, sans-serif;
  --padding: 2rem #f3f4f7;
  --border: 1px solid #0e2d47;
}


/*navigation bar*/
nav {
  background-color: var(--heading-background-color);
  padding: var(--padding);
}

/* anchor elements - child of nav */
nav a {
  color: white;
  background-color: var(--heading-background-color);
  padding: var(--padding);
}

/* headings */
h1 {
  color: #226aa6;
}

/*page layout*/
main {
  max-width: 1200px;
  margin: 0 auto;
}

header,
footer {
  max-width: 1200px;
  margin: 0 auto;
}

/*images*/
main img {
  width: 100px;
  height: auto;
  border: 0.5em solid var(--heading-background-color);
  padding: var(--padding);
  box-shadow: 0 0 10px #ddd9d9;
  color: #000
}

/*paragraphs*/
p {
  padding: var(--padding);
}


/*aside*/
aside {
  width: 20em;
  padding: var(--padding);
  margin: 1em;
  border: 1em solid #ddd9d9;
  background-color: #eee;
  color: var(--heading-background-color);
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}