/*USE AMERICAN SPELLINGS*/
:root {
  --heading-background-color: #ddd9d9;
  --heading-text-color: #226aa6;
  --heading-font: "Montserrat", Helvetica, sans-serif;
  --padding: 2rem #f3f4f7;
  --border: 1px solid #0e2d47;
}

/*navigation bar*/
nav {
  background-color: var(--heading-background-color);
  padding: var(--padding);
}

/* anchor elements - child of nav */
nav a {
  color: var(--heading-text-color);
  background-color: var(--heading-background-color);
  padding: var(--padding);
}

/* headings */
h1 {
  color: var(--heading-text-color);
}

/*page layout*/
main {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--heading-text-color)
}

header,
footer {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--heading-text-color)
}

/*images*/
main img {
  width: 100px;
  height: auto;
  border: 0.5em solid var(--heading-background-color);
  padding: var(--padding);
  box-shadow: 0 0 10px var(--border);
  color: var(--heading-text-color)
}

/*paragraphs*/
p {
  padding: 1px;
}

/*aside*/
aside {
  width: 20em;
  padding: var(--padding);
  margin: 1em;
  border: 1em solid var(--border);
  background-color: var(--heading-background-color);
  color: var(--heading-text-color);
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 1em;
  border-top: 2px solid var(--border);
  text-align: center;
}